.mb-0{
    margin-bottom: 0;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.head{
    border-color: black;
    border: 3px solid black;
    height: 100px ;
    border-radius: 5px;
    text-align: center;
}
.nav{
    border-color: black;
    border: 3px solid black;
    height: 100px ;
    border-radius: 5px;
    text-align: center;
    margin-top: 40px;
}
.sec{
    border-color: black;
    border: 3px solid black;
    height: 100px ;
    border-radius: 5px;
    text-align: center;
    margin-top: 40px;
}
.article{
    border-color: black;
    border: 3px solid black;
    height: 100px ;
    border-radius: 5px;
    text-align: center;
    margin-top: 40px;
}
.aside{
    border-color: black;
    border: 3px solid black;
    height: 100px ;
    border-radius: 5px;
    text-align: center;
    margin-top: 40px;
    width: 600px;
    height: 245px;
}
.updown{
    display: flex;
    flex-direction: column;
    width: 600px;
    margin-right: 40px;
}
.main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
h1{
    text-align: center;
}
.footer{
    border-color: black;
    border: 3px solid black;
    height: 100px ;
    border-radius: 5px;
    text-align: center;
    margin-top: 40px;
}